@charset "UTF-8";

table,tr,td{
    border-collapse: collapse;
    border:1px black solid;
}

.button{
    height: 70px;
    width: 70px;
    text-align: center;
}

.disp{
    height:70px;
    width:280px;
    text-align: right;
}